.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  margin-top: 60px;
  margin-right: 0px;
  background-image: url('../../../public/fullLogo.png');
  background-repeat: no-repeat;
  background-size:cover;
  width: 370px;
  height: 125px;
}

.container_div {
  margin-top:40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blueBack{
  background-image: url('../../../public/blueBack.png');
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35vh;
}
@keyframes slideUp {
  0% { bottom: -540px; } /* Start position outside of the view */
  100% { bottom: -330px; } /* Final position at margin-top value */
}

/* buttons - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.btn {
  position: absolute;
  bottom: 18vh;
  z-index: 1;
  margin-top:40px;
  padding: 17px;
  font-size: 1.85rem;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  border: none;
  color: rgba(66, 64, 64, 0.889);
  color: #648ef8;
  transition: 0.3s;
  cursor: pointer;
  width: 260px;
  background-color: #ffffff;
}
.btn:hover {
  color: #254aa9;
}

/* inputs - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.password_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.show_password{
  color: rgba(86, 86, 86, 0.663);
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 10px;
}

.input{
  direction: rtl;
  font-size: 26px;
  margin-bottom: 40px;
  padding: 13px;
  width: 300px;
  border-radius: 10px;
  border: 1.5px solid rgba(128, 128, 128, 0.405);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input::placeholder{
  color: #2e2e2e87;
}

/* .wave-group {
  position: relative;
  margin-bottom: 50px;
}

.wave-group .input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  padding: 10px 5px 10px 10px;
  display: block;
  border: 1px solid transparent;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
  background: transparent;
  width: 250px;
  text-align: right; 
  appearance: none; 
  -webkit-appearance: none; 
  direction: rtl;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #999;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  right: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-30px);
  font-size: 22px;
  color: #656565;
  text-align: right;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: auto;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2977bc;
  border-bottom: 1.5px solid #2977bc;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
} */


@keyframes vibration {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px) rotateZ(-2deg); }
  50% { transform: translateX(2px) rotateZ(2deg); }
  75% { transform: translateX(-2px) rotateZ(-2deg); }
  100% { transform: translateX(0); }
}
.validation_p{
  position: absolute;
  font-size: 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
  margin-top: 200px;
  animation: vibration 0.3s;
}

@keyframes slideUpBtn {
  0% { bottom: -230px; } /* Start position outside of the view */
  100% { bottom: 0px; } /* Final position at margin-top value */
}

@media only screen and (min-width: 480px) {
  .container{
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    width:420px;
    border-radius: 15px;
    /* border: 2px solid rgb(210, 209, 209); */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .blueBack{
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    width: 440px;
    height: 530px;
    background-color: #648ef8;
    position: absolute;
    margin-top: 520px;
    animation: slideUp 1s forwards;
  }
  .btn{
    position: relative;
    margin-bottom:105px;
    animation: slideUpBtn 1s forwards;
  }
  .validation_p{
    margin-top: -40px;
  }
  .input{
    margin-top: -10px;
  }
  .show_password{
    top: 5px;
    left: 10px;
  }
}


@media only screen and (min-height: 800px) and (max-width: 470px) {
  .btn{
    bottom: 20vh;
  }
  .container_div {
    margin-top:100px;
  }
}

@media only screen and (max-width: 365px) {
  .input{
    width: 245px;
  }
  .logo{
    margin-top: 60px;
    margin-right: 0px;
    background-image: url('../../../public/fullLogo.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 310px;
    height: 100px;
  }
}

  