.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  margin-top: 60px;
  margin-right: 10px;
  background-image: url('../../../public/fullLogo.png');
  width: 330px;
  height: 100px;
  background-size:cover;
}

.container_div {
  margin-top:40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blueBack{
  border-top-left-radius: 20vw;
  border-top-right-radius: 20vw;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 230px;
  background-color: #648ef8;
}
@keyframes slideUp {
  0% { bottom: -540px; } /* Start position outside of the view */
  100% { bottom: -330px; } /* Final position at margin-top value */
}

/* buttons - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.btn {
  position: absolute;
  bottom: 120px;
  z-index: 1;
  margin-top:40px;
  padding: 17px;
  font-size: 1.85rem;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  border: none;
  color: rgba(66, 64, 64, 0.889);
  color: #648ef8;
  cursor: pointer;
  transition: all .6s ease;
  width: 260px;
  background-color: #ffffff;
}
.btn:hover {
  color: #254aa9;
}

/* inputs - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.wave-group {
  position: relative;
  margin-bottom: 50px;
}

.wave-group .input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  padding: 10px 5px 10px 10px;
  display: block;
  border: 1px solid transparent;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
  background: transparent;
  width: 250px;
  text-align: right; 
  appearance: none; 
  -webkit-appearance: none; 
  direction: rtl;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #999;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  right: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-30px);
  font-size: 22px;
  color: #656565;
  text-align: right;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: auto;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2977bc;
  border-bottom: 1.5px solid #2977bc;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

@keyframes vibration {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px) rotateZ(-2deg); }
  50% { transform: translateX(2px) rotateZ(2deg); }
  75% { transform: translateX(-2px) rotateZ(-2deg); }
  100% { transform: translateX(0); }
}
.validation_p{
  position: absolute;
  margin-top: 20px;
  font-size: 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
  margin-top: 170px;
  animation: vibration 0.3s;
}

@keyframes slideUpBtn {
  0% { bottom: -230px; } /* Start position outside of the view */
  100% { bottom: 0px; } /* Final position at margin-top value */
}

@media only screen and (min-width: 480px) {
  .container{
    margin-top: 100px;
    border: 2px solid rgba(171, 160, 160, 0.644);
    overflow: hidden;
    position: relative;
    width: 380px;
    border-radius: 15px;
  }
  .blueBack{
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    width: 440px;
    height: 530px;
    background-color: #648ef8;
    position: absolute;
    margin-top: 520px;
    animation: slideUp 1s forwards;
  }
  .btn{
    position: relative;
    margin-bottom:105px;
    animation: slideUpBtn 1s forwards;
  }
  .wave-group {
    margin-bottom: 40px;
  }
  .validation_p{
    margin-top: -40px;
  }
}




  