.page_container{
  background-color:#ffffff;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
  margin-top: 20px;
  background-image: url('../../../public/fullLogo.png');
  background-repeat: no-repeat;
  background-size:cover;
  width: 370px;
  height: 125px;
  margin-bottom: 35px;
}

/* buttons - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.btn {
  z-index: 1;
  margin-top:40px;
  padding: 17px;
  font-size: 1.95rem;
  font-weight: 600;
  text-align: center;
  border-radius: 40px;
  border: none;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
  width: 260px;
  background-color: #648ef8;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 10px;
}
.btn:hover {
  color: #e3ebff;
}

.login_div{
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  direction: rtl;
  gap: 8px;
  color: #648ef8;
  font-family: 'Rubik', sans-serif;
  background-color: #254aa900;
  font-size: 20px;
  font-weight: 500;
  padding: 0px;
}

.login_btn{
  border: none;
  color: #648ef8;
  font-family: 'Rubik', sans-serif;
  background-color: #254aa900;
  font-size: 20px;
  font-weight: 500;
  padding: 0px;
  border-bottom: 2px solid #648ef8;;
  cursor: pointer;
}

/* inputs - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.password_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.show_password{
  color: rgba(86, 86, 86, 0.663);
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 10px;
}

.input_label_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
  direction: rtl;
  font-size: 26px;
  margin-bottom: 40px;
  padding: 13px;
  width: 300px;
  border-radius: 25px;
  border: 3px solid rgba(183, 183, 183, 0.243);
  font-family: 'Rubik', sans-serif;
  color: rgb(70, 70, 70);
  position: relative;
}
.input::placeholder{
  color: #2e2e2e7c;
  direction: ltr;
}

.validation_fullname{
  position: absolute;
  color: rgb(242, 65, 65);
  font-family: 'Rubik', sans-serif;
  margin-top: 50px;
  font-size: 19px;
}
.validation_email{
  position: absolute;
  color: rgb(242, 65, 65);
  font-family: 'Rubik', sans-serif;
  margin-top: 50px;
  font-size: 19px;
}
.validation_username{
  position: absolute;
  color: rgb(242, 65, 65);
  font-family: 'Rubik', sans-serif;
  margin-top: 50px;
  font-size: 19px;
}
.validation_password{
  position: absolute;
  color: rgb(242, 65, 65);
  font-family: 'Rubik', sans-serif;
  margin-top: 50px;
  font-size: 19px;
}

@keyframes slideUpBtn {
  0% { transform: translateY(150px); } /* Start position outside of the view */
  100% { transform: translateY(0); } /* Final position at translateY value */
}
@keyframes slideUpRegisterBtn {
  0% { transform: translateY(100px); }
  100% { transform: translateY(0); } 
}
/* - - - - - - - - - - - - - -  for desktop - - - - - - - - - - - - - -  */
@media only screen and (min-width: 480px) {
  .page_container {
    background-color: #89baff2b;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    background-color: white;
    margin-top: 70px;
    overflow: hidden;
    width: 440px;
    border-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .btn{
    margin-top: 20px;
    animation: slideUpBtn 1s forwards;
  }
  .login_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    direction: rtl;
    gap: 8px;
    color: #648ef8;
    font-family: 'Rubik', sans-serif;
    background-color: #254aa900;
    font-size: 20px;
    font-weight: 500;
    padding: 0px;
    margin-bottom: 30px;
    animation: slideUpRegisterBtn 1s forwards;
  }
}


@media only screen and (max-width: 383px) {
  .logo{
    width: 350px;
    height: 110px;
  }
  .input {
    width: 280px;
    font-size: 22px;
  }
}

@media only screen and (max-height: 750px) {
  .logo{
    width: 350px;
    height: 110px;
    margin-bottom: 20px;
  }
  .input {
    width: 280px;
    font-size: 20px;
    padding: 10px;
  }
  .btn{
    margin-top: 10px;
  }
}