.page_container {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/registerBack.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
  direction: rtl;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #6c95ff;
  background-image: linear-gradient(to left bottom, #6c95ff, #80a6ff, #94b7ff, #aac7ff, #c1d7ff, #c3d8ff, #c6d8ff, #c8d9ff, #b9c9ff, #afb9ff, #aca6ff, #ae92ff);
  border-radius: 40px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.register_label_container{
  padding: 50px;
  width: 700px;
  display: flex;
  flex-direction: column;
}
.register_label{
  font-size: 80px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: right;
  text-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.logo{
  background-image: url('../../../public/fullLogo.png');
  background-repeat: no-repeat;
  background-size:cover;
  width: 370px;
  height: 125px;
  margin-bottom: 15px;
}

.form {
  width: 400px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  border-radius: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* buttons - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.btn {
  z-index: 1;
  padding: 17px;
  font-size: 1.85rem;
  font-weight: 600;
  text-align: center;
  border-radius: 40px;
  border: none;
  background-color: #ffffff;
  color: #648ef8;
  transition: 0.3s;
  cursor: pointer;
  width: 260px;
  font-family: 'Rubik', sans-serif;
  margin-top: 30px;
  background-color: #cad9ff;
}
.btn:hover {
  color: #254aa9;
}

/* inputs - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.password_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.show_password{
  color: rgba(86, 86, 86, 0.663);
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 10px;
}

.input_label_div{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right; 
  margin-bottom: 40px;
  position: relative;
}

.input{
  direction: rtl;
  font-size: 22px;
  padding: 13px;
  width: 300px;
  border-radius: 20px;
  border: 2px solid rgb(214, 214, 214);
  font-family: 'Rubik', sans-serif;
}
.input::placeholder{
  color: #cacaca;
  direction: ltr;
}

.validation_fullname{
  color: rgb(255, 47, 47);
  font-size: 20px;
  text-align: right;
  animation: vibration 0.5s;
  position: absolute;
  top: 60px;
  right: 10px;
}
.validation_email{
  color: rgb(255, 47, 47);
  font-size: 20px;
  text-align: right;
  animation: vibration 0.5s;
  position: absolute;
  top: 60px;
  right: 10px;
}
.validation_username{
  color: rgb(255, 47, 47);
  font-size: 20px;
  text-align: right;
  animation: vibration 0.5s;
  position: absolute;
  top: 60px;
  right: 10px;
}
.validation_password{
  color: rgb(255, 47, 47);
  font-size: 20px;
  text-align: right;
  animation: vibration 0.5s;
  position: absolute;
  top: 60px;
  right: 10px;
}

@keyframes vibration {
  0% { transform: translateX(0); }
  25% { transform: translateX(-1px) rotateZ(-1deg); }
  50% { transform: translateX(1px) rotateZ(1deg); }
  75% { transform: translateX(-1px) rotateZ(-1deg); }
  100% { transform: translateX(0); }
}
