.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    padding: 17px;
    margin: 20px;
    margin-top: 85px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    animation: slideInAndFade 0.5s ease-in-out;
}

.shifts{
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 3px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(231, 234, 238, 0.571);
}

.icons_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.spacer{
    margin: 10px;
}

.delete_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(205, 205, 205, 0);
    border: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    background-color: #d2e9ff;
    color:#2880cc;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}
.edit_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(205, 205, 205, 0);
    border: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    background-color: #d2e9ff;
    color:#2880cc;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}
.icon{
    font-size: 20px;
    margin-right: 10px;
}

.label{
    font-size: 19px;
    margin: 10px;
    margin-right: 10px;
}

@keyframes slideInAndFade {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 0px;
    margin-bottom: 5px;
    color: #575757;
    font-weight: 500;
}

.h2{
    margin-top: 0px;
    color: #34a0ff;
    font-weight: 500;
}


.label_name{
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    margin-left: 30px;
}
.label_start{
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    margin-left: 34px;
}
.label_end{
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    margin-left: 58px;
}

.input{
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 110px;
    text-align: right;
    direction: rtl;
    appearance: none;
    -webkit-appearance:none;
    font-family: 'Rubik', sans-serif;
}

.input_time{
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 110px;
    text-align: right;
    direction: rtl;
    appearance: none;
    -webkit-appearance:none;
    font-family: 'Rubik', sans-serif;
}
.input_time::before{
    content: 'התחלה';
    color: #9d9d9d;
    direction: ltr;
    appearance: none;
    -webkit-appearance:none;
    font-family: 'Rubik', sans-serif;
}

.btn {
    margin-top: 20px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    color: white;
    background-color: #63b6ff;
    cursor: pointer;
    transition: all .6s ease;
    width: 260px;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}
.btn:hover {
transform: scale(1.02);
}

.addShift_btn {
    width: 60px;
    height: 60px;
    z-index: 10;
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: #34a0ff;
    color: white;
    border: none;
    font-size: 41px;
    transition: 0.3s;
    border-radius: 300%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    animation: downToUp 1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.addShift_btn:hover{
    cursor: pointer;
}

/* - - - - - - - - edit shift - - - - - - -  */

.editShift{
    width: 260px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: rgba(219, 219, 219, 0.789);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_edit{
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 210px;
    text-align: right;
    direction: rtl;
    appearance: none;
    -webkit-appearance:none;
    font-family: 'Rubik', sans-serif;
}

.input_time_start{
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 210px;
    text-align: right;
    direction: rtl;
    appearance: none;
    -webkit-appearance:none;
    font-family: 'Rubik', sans-serif;
}
.input_time_end{
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 210px;
    text-align: right;
    direction: rtl;
    appearance: none;
    -webkit-appearance:none;
    font-family: 'Rubik', sans-serif;
}
.edit_shift_btn{
    margin-top: -10px;
    margin-bottom: 15px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    cursor: pointer;
    transition: all .6s ease;
    width: 220px;
    justify-content: center;
    background-color: #34a0ff;
    color:#ffffff;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}


@keyframes downToUp {
    0% {
        transform: translateY(130px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
  }
}

@media only screen and (min-width: 380px){
    .container{
        width: 310px;
    }
    .input{
        width: 130px;
    }
    .btn{
        width: 280px;
    }
    .input_time{
        width: 130px;
    }
    .shifts{
        width: 300px;
    }

    .editShift{
        width: 280px;
    }
    .input_edit{
        width: 230px;
    }
    .input_time_start{
        width: 230px;
    }
    .input_time_end{
        width: 230px;
    }
    .edit_shift_btn{
        width: 240px;
    }
}
@media only screen and (min-width: 430px){
    .container{
        width: 330px;
    }
    .input{
        width: 150px;
    }
    .btn{
        width: 300px;
    }
    .input_time{
        width: 150px;
    }
    .shifts{
        width: 320px;
    }

    .editShift{
        width: 300px;
    }
    .input_edit{
        width: 250px;
    }
    .input_time_start{
        width: 250px;
    }
    .input_time_end{
        width: 250px;
    }
    .edit_shift_btn{
        width: 260px;
    }
}