.contianer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    padding: 12px;
    margin-top: 90px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    animation: slideInAndFade 0.5s ease-in-out;
}

@keyframes slideInAndFade {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}