.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    margin-top: 85px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 10px;
    animation: slideInAndFade 0.5s ease-in-out;
}

.shift_container{
    width: 310px;
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 19px;
    border-top: 1px solid rgb(208, 208, 208);
}

.description{
    font-size: 18px;
    margin-left: 10px;
}

.delete_edit_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.delete_btn{
    font-size: 22px;
    border: none;
    background-color: #ff6a6a00;
    color: rgb(255, 92, 92);
    border: 1px solid rgb(85, 255, 0);
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit_btn{
    font-size: 22px;
    border: none;
    background-color: rgba(119, 119, 119, 0);
    color: rgb(144, 144, 144);
    border: 1px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
}

@keyframes slideInAndFade {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.title{
    margin-top: 5px;
    margin-bottom: 20px;
    color: #575757;
    font-weight: 500;
}

.addShift_btn {
    width: 60px;
    height: 60px;
    z-index: 10;
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: #34a0ff;
    color: white;
    border: none;
    font-size: 41px;
    transition: 0.3s;
    border-radius: 300%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    animation: downToUp 1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.addShift_btn:hover{
    cursor: pointer;
}

/* - - - - - - - - edit shift - - - - - - -  */

.editShift{
    width: 260px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_edit{
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 260px;
    text-align: right;
    direction: rtl;
    appearance: none;
    -webkit-appearance:none;
    font-family: 'Rubik', sans-serif;
}

.input_time_start{
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 260px;
    text-align: right;
    direction: rtl;
    appearance: none;
    -webkit-appearance:none;
    font-family: 'Rubik', sans-serif;
}
.input_time_end{
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 260px;
    text-align: right;
    direction: rtl;
    appearance: none;
    -webkit-appearance:none;
    font-family: 'Rubik', sans-serif;
}

.btn_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.edit_shift_btn{
    margin-right: 15px;
    margin-top: -10px;
    margin-bottom: 15px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    cursor: pointer;
    transition: all .6s ease;
    width: 130px;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #c1e1ff;
    color:#2880cc;
}
.edit_shift_btn_cancel{
    margin-top: -10px;
    margin-bottom: 15px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    cursor: pointer;
    transition: all .6s ease;
    width: 130px;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: rgba(255, 92, 92, 0.76);
    color:rgb(255, 255, 255);
}

@keyframes downToUp {
    0% {
        transform: translateY(130px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
  }
}


/* - - - - - - - loading animation - - - - - - - - */

.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #34a0ff;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }



/* - - - - - - - media query - - - - - - - - */

@media only screen and (min-width: 380px){
    .container{
        width: 330px;
    }
    .shift_container{
        width: 330px;
    }
    .editShift{
        width: 280px;
    }
    .input_edit{
        width: 280px;
    }
    .input_time_start{
        width: 280px;
    }
    .input_time_end{
        width: 280px;
    }
    .edit_shift_btn{
        width: 140px;
    }
    .edit_shift_btn_cancel{
        width: 140px;
    }

}
@media only screen and (min-width: 430px){
    .container{
        width: 350px;
    }
    .shift_container{
        width: 350px;
    }
    .editShift{
        width: 300px;
    }
    .input_edit{
        width: 300px;
    }
    .input_time_start{
        width: 300px;
    }
    .input_time_end{
        width: 300px;
    }
    .edit_shift_btn{
        width: 150px;
    }
    .edit_shift_btn_cancel{
        width: 150px;
    }
}