.container{
    background-color: #648ef8;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.backIcon {
    border: 1px solid white;
    border-radius: 150px;
    padding: 7px;
    color: white;
    position: absolute;
    left: 18px;
    top: 18px;
    font-size: 24px;
    transition: padding 0.3s, font-size 0.3s;
}

.backIcon:hover {
    padding: 8px;
    font-size: 26px;
}


.upper_text {
    position: absolute;
    top: -100px; /* Initial position off the top of the page */
    right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: right;
    animation: slideFromTop 1s ease forwards; /* Apply animation */
}

@keyframes slideFromTop {
    from {
        top: -200px; /* Starting position off the top of the page */
    }
    to {
        top: 10px; /* Final position */
    }
}


.title_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: right;
    text-align: right;
    gap: 10px;
    margin-top: 50px;
    margin-left: 30px;
}

.lock_icon {
    font-size: 50px;
    margin-bottom: 4px;
    transform: rotate(-20deg);
}


.span_title{
    color: white;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    text-align: right;
}

.under_title{
    color: white;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin-top: 5px;
}

.middle_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    width: 330px;
}

.input {
    width: 25%;
    height: 65px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    outline: none;
    color: rgb(78, 78, 78);
    font-weight: 500;
}
.input:hover {
    background-color: #F3F3F3;
}
.input:focus {
    outline: none;
}


.another_code{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
}
.btn{
    background-color: white;
    color: #648ef8;
    width: 300px;
    border: none;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    padding: 15px;
    border-radius: 35px;
    margin-bottom: 15px;
}
.another_code label{
    color: white;
    direction: rtl;
    font-size: 18px;
    margin-bottom: 4px;
    font-family: 'Rubik', sans-serif;
}
.btn_again{
    color: white;
    direction: rtl;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: 'Rubik', sans-serif;
}