.createUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    padding: 17px;
    margin: 20px;
    margin-top: 85px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    animation: slideInAndFade 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
}

@keyframes slideInAndFade {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select {
    direction: rtl;
    text-align: right;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    border: 2px solid rgba(122, 122, 122, 0.25);
    width: 275px;
    margin-bottom: 20px;
    height: 50px;
    appearance: none;
    -webkit-appearance: none;
}


.input{
    direction: rtl;
    text-align: right;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    border: 2px solid rgba(122, 122, 122, 0.25);
    width: 260px;
    margin-bottom: 20px;
    height: 30px;
}

.btns_div{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    color: white;
    background-color: #63b6ff;
    cursor: pointer;
    transition: all .6s ease;
    width: 132px;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-color: #c1e1ff;
    color:#2880cc;
    /* z-index: 2; */
    margin-bottom: 200px;
}

.btn_cancel {
    margin-bottom: 200px;
    margin-top: 10px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    cursor: pointer;
    transition: all .6s ease;
    width: 132px;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(255, 92, 92, 0.76);
    color:rgb(255, 255, 255);
    /* z-index: 2; */
}

.addUser_svg {
    z-index: 0;
    position: absolute;
    bottom: -120px;
    opacity: 0.9;
    margin-left: 145px;
    width: 280px;
    height: 320px;
    animation: downToUp 1s ease-in-out;
}
@keyframes downToUp {
    0% {
        transform: translateY(70px);
    }
    100% {
        transform: translateY(0);
  }
}

@media only screen and (min-width: 380px){
    .createUser{
        width: 310px;
    }
    .input{
        width: 280px;
    }
    .select{
        width: 315px;
    }
    .btn{
        width: 143px;
    }
    .btn_cancel{
        width: 143px;
    }
    .addUser_svg{
        margin-left: 165px;
    }
}
@media only screen and (min-width: 380px){
    .createUser{
        width: 330px;
    }
    .input{
        width: 300px;
    }
    .select{
        width: 315px;
    }
    .btn{
        width: 153px;
    }
    .btn_cancel{
        width: 153px;
    }
    .addUser_svg{
        margin-left: 185px;
    }
}