.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    padding: 12px;
    margin: 20px;
    margin-top: 85px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    animation: slideInAndFade 0.5s ease-in-out;
}

@keyframes slideInAndFade {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.user_container{
    width: 280px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(231, 234, 238, 0.571);
}
.editWorker{
    width: 270px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(231, 234, 238, 0.571);
}
.input_edit{
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 260px;
    text-align: right;
    direction: rtl;
    appearance: none;
    -webkit-appearance:none;
    font-family: 'Rubik', sans-serif;
    margin-top: -3px;
}
.btn_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: -15px;
}
.edit_worker_btn{
    margin-right: 15px;
    margin-top: -10px;
    margin-bottom: 15px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    cursor: pointer;
    transition: all .6s ease;
    width: 130px;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #c1e1ff;
    color:#2880cc;
}
.edit_worker_btn_cancel{
    margin-top: -10px;
    margin-bottom: 15px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;
    cursor: pointer;
    transition: all .6s ease;
    width: 130px;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: rgba(255, 92, 92, 0.76);
    color:rgb(255, 255, 255);
}
.noWorkers_div{
    font-size: 20px;
    font-weight: 500;
    color: rgb(112, 112, 112);
}

.icon{
    margin-left: 10px;
    color: gray;
    font-size: 23px;
}

.delete_edit_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.edit_div_options{
    border-radius: 7px;
    width: 165px;
    height: auto;
    border: none;
    position: absolute;
    direction: ltr;
    left:-26px;
    top: 35px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(67, 71, 85, 0.27) 1px 1px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.15em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    animation: slideInAndFade 0.2s ease-in-out;
}
.edit_div_options::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 2.2em;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: rgb(255, 255, 255);
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    cursor: pointer;
}
.edit_div_flex{
    margin: 8px;
    direction: ltr;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.icon_edit_select{
    color: rgb(95, 95, 95);
    font-size: 22px;
    cursor: pointer;
    margin-left: 10px;
}

.p{
    font-size: 18px;
    margin-right: 10px;
}

@keyframes downToUp {
    0% {
        transform: translateY(130px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
  }
}

.addUser_btn {
    width: 60px;
    height: 60px;
    z-index: 10;
    position: fixed;
    bottom: 15px;
    left: 15px;
    background-color: #34a0ff;
    color: white;
    font-size: 41px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 300%;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    animation: downToUp 1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.addUser_btn:hover{
    cursor: pointer;
}

.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #34a0ff;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }



@media only screen and (min-width: 380px){
    .user_container{
        width: 300px;
    }
    .container{
        width: 310px;
    }
}
@media only screen and (min-width: 430px){
    .user_container{
        width: 320px;
    }
    .container{
        width: 330px;
    }
}
   