.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input{
    direction: rtl;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: -2px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 270px;
    text-align: right;
}

.label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    margin: 10px;
    margin-right: 10px;
}

.btn {
    margin-top: 20px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: none;
    color: rgb(255, 255, 255);
    background: #2977bc;
    cursor: pointer;
    transition: all .6s ease;
    width: 280px;
    justify-content: center;
}
.btn:hover {
transform: scale(1.02);
}

.roles{
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    background-color: rgb(229, 233, 236);
    margin: 10px;
    margin-bottom: 3px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.delete_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(205, 205, 205, 0);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-left: 5px;
    transition: 0.3s;
}
.delete_btn:hover{
    color: rgba(255, 0, 0, 0.684);
    cursor: pointer;
}

.addUser_btn {
    width: 60px;
    height: 60px;
    z-index: 1000;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #2977bc;
    color: white;
    border: none;
    border: 1.5px solid white;
    font-size: 41px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 300%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.addUser_btn:hover{
    cursor: pointer;
}

.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #2977bc;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }
