.all_container{
    margin-left: 5px;
}

.sticky {
    position: sticky;
    z-index: 999;
}

ul{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

ul.navbar {
    list-style-type: none;
    margin: 10;
    margin-left: 10px;
    margin-right: 20px;
    padding: 0;
    overflow: hidden;
    background: #332891ce;
    border-radius: 10px;
}

ul.navbar li a {
    font-size: 17.1px;
    font-weight: bold;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul.navbar li a:hover {
    cursor: pointer;
}

.container{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.createRole{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    background: rgba(255, 255, 255, 0.704);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    background: rgba(255, 255, 255, 0.704);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.createUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    background: rgba(255, 255, 255, 0.704);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2{
    margin-top: -10px;
}

.label_fullname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 31px;
}
.label_username{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 5px;
}
.label_password{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 40px;
}
.label_role{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 30px;
}

.select{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 175px;
}

.input{
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.btn {
    margin-top: 20px;
    max-width: 260px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: white;
    background: #332891e1;
    cursor: pointer;
    transition: all .6s ease;
    width: 400px;
    justify-content: center;
}
.btn:hover {
transform: scale(1.02);
}

