.all_container{
    margin-left: 10px;
    position: relative;
}

.nav_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #2977bc;
    top: 0;
    left: 0;
    width: 100%;
    position:fixed;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar{
    margin-top:15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    list-style-type: none;
    width: 98%;
    margin-right: 30px;
}

.a_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btnHome_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.a{
    margin: 10px;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
.a:hover{
    cursor: pointer;
}
.addLine{
    font-weight: bold;
}

ul.navbar li button {
    font-size: 25px;
    color: #ffffff;
    background-color: #41379600;
    border: none;
    cursor: pointer;
}

.addUser_btn {
    width: 60px;
    height: 60px;
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #2977bc;
    color: white;
    border: 1.5px solid white;
    font-size: 41px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 300%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.addUser_btn:hover{
    cursor: pointer;
    background-color: #2889df;
}

.container{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 30px;
}

.createRole{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    background: rgba(255, 255, 255, 0.968);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    background: rgba(255, 255, 255, 0.961);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.createUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    background: rgba(255, 255, 255, 0.704);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2{
    margin-top: -10px;
}

.label_fullname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 31px;
}
.label_username{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 5px;
}
.label_password{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 40px;
}
.label_role{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 30px;
}

.select{
    direction: rtl;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 175px;
    text-align: right;
}

.input{
    direction: rtl;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.btn {
    margin-top: 20px;
    max-width: 260px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: white;
    background: #2977bc;
    cursor: pointer;
    transition: all .6s ease;
    width: 400px;
    justify-content: center;
}
.btn:hover {
transform: scale(1.02);
}



/* @media only screen and (max-width: 480px) {
    .addUser_btn{
        bottom: 25px;
        right: 15px;
    }
    .users{
        width: 220px;
    }
    .createUser{
        width: 210px;
    }
    .createRole{
        width: 220px;
    }
    .input{
        width: 110px;
    }
    .select{
        width: 120px;
    }
    .btn{
        width: 210px;
    }
} */
/* @media only screen and (min-width: 0px) and (max-width: 767px) {
    .addUser_btn{
        bottom: 25px;
        right: 15px;
    }
    .users{
        width: 220px;
    }
    .createUser{
        width: 220px;
    }
    .createRole{
        width: 220px;
    }
    .input{
        width: 120px;
    }
    .select{
        width: 135px;
    }
    .btn{
        width: 220px;
    }
} */