.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: #2977bc;
    top: 0;
    left: 0;
    width: 100%;
    position:fixed;
    z-index: 999;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homeBtn{
    cursor: pointer;
}

.nav_container p{
    font-size: 22px;
    margin-right: 18px;
}
.nav_container button{
    font-size: 25px;
    color: white;
    background-color: #41379600;
    border:none;
    margin-left: 10px;
    margin-top: 3px;
}

.day_container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 280px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.988);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 36px 0px, rgba(0, 0, 0, 0.10) 0px 0px 0px 1px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.messege{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 181, 29);
    border: none;
    transition: all .6s ease;
    width: 300px;
    height: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: -70px;
}

.h2{
    margin-top: -15px;
    margin-bottom: 5px;
}

.shift{
    width: 280px;
    font-size: 1.2em;
    border-radius: 10px;
    border: 1px solid rgba(101, 101, 101, 0.245);
    background-color: rgba(231, 234, 238, 0.41);
    margin: 10px;
}

.no_shifts_message{
    margin-top: 5px;
    font-size: 1.3em;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    margin-top: 15px;
    margin: 5px;
    width: 87px;
    height: 70px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 13px;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    background-color: #2977bc;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
}
.btn:hover {
    background-color: #2068a7;
}

.add_btn{
    margin: 10px;
    margin-top: 0px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
    width: 230px;
    justify-content: center;
    margin-left: 25px;
}
.add_btn:hover {
    transform: scale(1.02);
    }

.addShift{
    width: 280px;
    font-size: 1.2em;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: rgb(244, 247, 250);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 220px;
    text-align: right;
}

.addShift_btn{
    margin: 10px;
    margin-top: -10px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #2977bc;
    color: white;
    cursor: pointer;
    transition: all .6s ease;
    width: 230px;
    justify-content: center;
}
.addShift_btn:hover {
    transform: scale(1.02);
    }


.workers_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0px;
    width: 100%;
    border-top: 1px solid rgba(101, 101, 101, 0.245);
}
    
.workers_list p {
    margin-left: 0px;
}


.btn_delete{
    background-color: rgba(215, 215, 215, 0.642);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 9px;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.btn_delete:hover{
    cursor: pointer;
    color: white;
    background-color: rgba(255, 0, 0, 0.604);
}

.shift_name{
    margin-bottom: -5px;
}

.shift_data_p{
    margin: 12px
}

.workers_showList{
    direction: ltr;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    border-top: 1px solid rgba(101, 101, 101, 0.245);
    width: 100%;
}
.workers_showList p{
    margin: 8px;
    margin-right: 15px;
}

.loadingWorkers{
    margin: 15px;
    margin-left: 120px;
}


.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #2977bc;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }


.workers_list_delete{
    border-top: 1px solid rgba(101, 101, 101, 0.245);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.names{
    margin: 15px;
}

.nameAndDelete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn_chose{
    margin: 15px;
    background-color: rgba(144, 144, 144, 0.684);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px;
}

.btn_chosen{
    margin: 15px;
    background-color: rgba(31, 181, 17, 0.684);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px;
}

.loadingWorkers_manger_page{
    margin: 15px;
}

.publish_div{
    margin-top: 90px;
}

.publish_div button{
    margin-top: -10px;
    margin-bottom: 0px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #2977bc;
    color: white;
    cursor: pointer;
    transition: all .6s ease;
    width: 320px;
    justify-content: center;
}
.publish_div button:hover {
    transform: scale(1.02);
}

.published_div{
    margin-top: 90px;
}

.published_div button{
    margin-top: -10px;
    margin-bottom: 0px;
    display: flex;
    padding: 0.8rem 2.4rem;
    font-size: 1.275rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(46, 181, 29);
    background-color: #ffffffe1;
    border: 2px solid rgb(46, 181, 29);
    transition: all .6s ease;
    width: 320px;
    justify-content: center;
}

.worksHer{
    border: 2px solid rgb(48, 174, 48);
}

.messege_to_manager{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(255, 255, 255);
    background-color: #2977bc;
    border: none;
    transition: all .6s ease;
    width: 300px;
    height: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: -70px;
}
.messege_to_manager p{
    font-size: 22px;
}

.messege_to_manager_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input_to_manager{
    margin-top: 90px;
    font-size: 18px;
    direction: rtl;
    width: 300px;
    padding: 8px;
    border-radius: 0.5rem;
    border: 1px solid rgba(80, 80, 80, 0.52);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn_to_manager{
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(255, 255, 255);
    background-color: #2977bc;
    border: none;
    transition: all .6s ease;
    width: 315px;
    height: 60px;
    justify-content: center;
    text-align: center;
}