body {
    background: linear-gradient(rgb(255, 255, 255) 40%, #2977bc90);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
