.upperContainer{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100vw;
  margin-bottom: 60px;
  background-color: #2977bc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 14px;
}

.nav_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.h1{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 20px;
  text-align: right;
  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  text-overflow: ellipsis;
  max-width: 110px;
}

.user_managment_btn{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  width: 70px;
  background-color: #150d5a00;
  transition: 0.3s;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  transition: 0.3s;
  padding: 2px;
  /* border: 1px solid rgb(255, 255, 255); */
  border: none;
  border-right: 1.5px solid white;
  border-left: 1.5px solid white;
}
.user_managment_btn:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.signout{
  font-size: 25px;
  background-color: #33289100;
  border: none;
  margin-top: 3px;
  color: white;
}
.signout:hover{
  cursor: pointer;
}

.user_settings{
  font-size: 25px;
  background-color: #33289100;
  border: none;
  margin-top: 3px;
  color: white;
  margin-right: 5px;
}
.user_settings:hover{
  cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: -10px;
}

.btn{
  text-align: end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  padding: 25px;
  height: 90px;
  background-color: #2977bc;
  color: rgb(255, 255, 255);
  border: none;
  width: 300px;
  transition: 0.3s;
  margin-bottom: 25px;
  border-radius: 16px;
  font-weight: 600;
}
.btn:hover{
  cursor: pointer;
  transform: scale(1.02);
}
.icon{
  margin-right: 10px;
  font-size: 40px;
  rotate: -20deg;
  margin-top: -10px;
  margin-bottom: -10px;
}
.icon3{
  margin-right: 10px;
  font-size: 40px;
  margin-top: -10px;
  margin-bottom: -10px;
}



.closed_btn{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
  padding: 25px;
  height: 100px;
  background-color: #150d5a;
  color: rgb(255, 255, 255);
  border: none;
  width: 335px;
  transition: 0.3s;
  margin-bottom: 30px;
  border-radius: 16px;
  font-weight: 600;
}

.nav_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chose_shift_btn{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  background-color: #150d5a;
  transition: 0.3s;
  font-weight: 600;
  color: white;
  background-color: #150d5a00;
  margin-left: -45px;
  margin-bottom: 5px;
  transition: 0.3s;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.chose_shift_btn:hover{
  border: 2px solid white;
  cursor: pointer;
  transform: scale(1.02);
}