.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 87px;
}

.week_text{
  margin-top: -15px;
  font-size: 22px;
  color: #00030c65;
  margin-bottom: 10px;
  margin-left: 200px;
  font-weight: 600;
}

.btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 110px;
  background-color: #ffffff;
  background-color: #f2f4ffaf;
  border: none;
  width: 350px;
  transition: 0.3s;
  margin-bottom: 18px;
  border-radius: 25px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  
}
.btn:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.spacer{
  margin-bottom: 20px;
}

.text_div{
  margin-right: -5px;
  font-size: 20px;
  color: #767676;
  font-weight: 400;
}

.link{
  text-decoration: none;
}

@keyframes slideInAndFade {
  0% {
      transform: translateX(0);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.icon_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon{
  /* position: absolute;
  animation: slideInAndFade 0.3s ease-in-out;
  width: 170px;
  left: 0px;
  bottom: -35px;
  height: 160px; */
  width: 80px;
  height: 80px;
  position: absolute;
  left: 30px;
}
.color1{
  /* position: absolute;
  background-color: #f6917b52;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  left: 0;
  width: 175px;
  height: 140%; */
}

.icon2{
  /* position: absolute;
  bottom: -35px;
  left: -15px;
  height: 150px;
  animation: slideInAndFade 0.3s ease-in-out;
  width: 160px; */
  width: 80px;
  height: 80px;
  position: absolute;
  left: 30px;
}
.color2{
  /* position: absolute;
  background-color: #90abfb82;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  left: 0;
  width: 175px;
  height: 140%; */
}

.icon3{
  /* position: absolute;
  bottom: -35px;
  left: 0px;
  height: 150px;
  animation: slideInAndFade 0.3s ease-in-out;
  width: 150px; */
  width: 80px;
  height: 80px;
  position: absolute;
  left: 30px;
}
.color3{
  /* position: absolute;
  background-color: #fff1c599;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  left: 0;
  width: 175px;
  height: 140%; */
}

.icon4{
  /* position: absolute;
  bottom: -20px;
  left: -10px;
  animation: slideInAndFade 0.3s ease-in-out;
  width: 165px; */
  width: 80px;
  height: 80px;
  position: absolute;
  left: 30px;
}
.color4{
  /* position: absolute;
  background-color: #9568e246;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  left: 0;
  width: 175px;
  height: 140%; */
}

.closed_btn{
  font-size: 26px;
  padding: 25px;
  height: 100px;
  background-color: #150d5a;
  color: rgb(255, 255, 255);
  border: none;
  width: 335px;
  transition: 0.3s;
  margin-bottom: 30px;
  border-radius: 16px;
  font-weight: 600;
}

.nav_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chose_shift_btn{
  font-size: 16px;
  background-color: #150d5a;
  transition: 0.3s;
  font-weight: 600;
  color: white;
  background-color: #150d5a00;
  margin-left: -45px;
  margin-bottom: 5px;
  transition: 0.3s;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.chose_shift_btn:hover{
  border: 2px solid white;
  cursor: pointer;
  transform: scale(1.02);
}

@media only screen and (min-height: 730px) {
  .btn{
      width: 280px;
      height:120px;
      text-align: end;
      font-size: 19px;
  }
  .week_text{
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .icon2{
    height: 160px;
    top: 0px;
  }
  .icon3{
    height: 160px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 329.9px) {
  .btn{
      width: 280px;
      height:100px;
      text-align: end;
      font-size: 19px;
  }
  .text_div{
    margin-right: -5px;
  }
  .week_text{
    margin-left: 170px;
  }
  .icon{
    width: 130px;
    height: 150px;
  }
  .color1{
    width: 140px;
  }
  .icon2{
    width: 130px;
    height: 155px;
  }
  .color2{
    width: 140px;
  }
  .icon3{
    width: 120px;
    height: 150px;
  }
  .color3{
    width: 135px;
  }
  .icon4{
    width: 130px;
    height: 120px;
  }
  .color4{
    width: 140px;
  }
}
@media only screen and (min-width: 330px) and (max-width: 369px) {
  .btn{
      width: 310px;
      height:110px;
      text-align: end;
      font-size: 19px;
  }
  .text_div{
    margin-right: -5px;
  }
  .week_text{
    margin-left: 190px;
  }
  .icon{
    width: 140px;
    height: 150px;
  }
  .color1{
    width: 150px;
  }
  .icon2{
    width: 140px;
    height: 155px;
  }
  .color2{
    width: 150px;
  }
  .icon3{
    width: 130px;
    height: 150px;
  }
  .color3{
    width: 150px;
  }
  .icon4{
    width: 140px;
    height: 120px;
  }
  .color4{
    width: 150px;
  }
}
@media only screen and (min-width: 370px) and (max-width: 399.9px) {
  .btn{
      width: 340px;
      text-align: end;
      font-size: 19px;
  }
  .text_div{
    margin-right: -5px;
  }
  .week_text{
    margin-left: 210px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 510px) {
  .btn{
      width: 340px;
      text-align: end;
      font-size: 20px;
  }
  .text_div{
    margin-right: -5px;
  }
  .week_text{
    margin-left: 220px;
  }
}
@media only screen and (min-width: 511px) {
  .btn{
      width: 420px;
      height: 130px;
      text-align: end;
      font-size: 20px;
  }
  .text_div{
    font-size: 25px;
    margin-left: 110px;
  }
  .icon2{
    height: 177px;
    left: 0px;
  }
  .week_text{
    margin-top: 5px;
    margin-left: 250px;
    font-size: 37px;
  }
}