.all{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upperContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1.5px solid rgb(214, 214, 214); */
  padding: 9px;
  margin-top: 0px;
  width: 110%;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.h1{
  color: #2b9275;
  color: black;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.signout{
  font-size: 30px;
  background-color: white;
  border: none;
  margin-top: 3px;
  margin-left: 10px;
  color: #332891e1;
}
.signout:hover{
  cursor: pointer;
  color: black;
  transform: scale(1.02);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: -10px;
}

.btn{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
  padding: 25px;
  height: 100px;
  /* background-image: linear-gradient(144deg,#a0e6ff 5%,#02457A); */
  background-color: #332891e1;
  color: rgb(255, 255, 255);
  border: none;
  width: 345px;
  transition: 0.3s;
  margin-bottom: 30px;
  border-radius: 25px;
}
.btn:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.btn1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
  padding: 25px;
  height: 100px;
  background-color: #332891e1;
  color: rgb(255, 255, 255);
  border: none;
  width: 345px;
  transition: 0.3s;
  margin-bottom: 30px;
  border-radius: 25px;
}
.btn1:hover{
  cursor: pointer;
  transform: scale(1.02);
}